*{margin:0;padding:0;box-sizing:border-box;}
img { width:300px; }
body {
	background-image: url("file:///Users/nicholasstout/Documents/GitHub/nickstout.github.io/unit_3/images/selfport1.tif") ;
}

h1, p {
	color: blue;
}