*{margin:0;padding:0;box-sizing:border-box;}
img { width:300px; }
body {
     image:url("..darden.jpeg") ;
}
header {
	background-color: #FF200;
	text-align: center;
	color: white;
}
header a {
	color:white;
	font-weight: bold
	margin-left: 40px;
}
footer{
	background color: #FF200;
	padding: 20px;
	text-align: left;
}
footer a{
	color:#fff;
	text-decoration: none;
}

h1, {
	font-size:2em;
	font-weight:100;
}
a {
	color: #FF200;
#intro {
	background-image: url("../images/selfport.jpg")
	background-size: cover;
	padding: 10em 0 0;
	height:85vh;
}
