*{margin:0;padding:0;box-sizing:border-box;}
img { width:300px; }
body {
	background-image: url("images/selfport1.jpg") ;
}
header {
	background-color: #FF200;
	text-align: left;
	color: white;
}
header a {
	color:white ;
	font-weight: bold
}

h1, p {
	color: blue;
}